body{
    background-image: url(hd-wallpaper-g4dbfb8576_1920.jpg);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 70px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  h1{
    font-size: 100px;
    color: white;

    margin-top: 180px;
    margin-left: 60px;
    margin-bottom: 30px;
  }

  h3{
    color: white;
   margin-top: 10px;
   margin-left: 30px;
 
  }

  button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
    margin-left: 30px;
  }

  img{
    font-size: 15px;
    margin-left: 25px;
    margin-top: 25px;
  }
